{% load static %}
<div class="content" id="footer">
    <div class="container">
        <div class="row pt-3 justify-content-between">
        
            <section class="col-sm-5 border-dark "> 
            <h3 class="text-white"> About Us </h3>
            <p class="text-white text-justify ">
                At BookShelf, you can browse through our inventory while sitting comfortably at home. And if you want a book, we will get it delivered at your doorstep!Our goal at BookShelf is to save your time and money and provide a platform for you to earn a few bucks.
            </p>
            </section>
            
            <section class="col-sm-3 border-dark ">
            <h3 class="text-white"> Contact Us </h3>
            <p class="text-white">
            www.bookshelf.com<br> Email:info@bookshelf.com <br> Phone:+977 9821232321<br> P.O.Box: 2578 <br> Office Location:Ktm,Nepal </p>
            </section>
            
            <section class="col-sm-3 border-dark">
            <h3 class="text-white"> Newsletter </h3>
            <input class="form-control border-y rounded-0" type="text" placeholder="Your Email">
            <button class="btn mt-2 border-0 rounded-right-circle bg-danger text-white" type="submit"> Subscribe </button>
            </section>
        </div><!--row-->
    </div><!--container--><!--1st one wala -->
    
    
    <div class="content mt-3 mb-2" id="l1">
        <div class="container ">
            <nav class="nav justify-content-center pt-1 pb-1"  >
            <img src="{% static 'img/fb.png' %}" style="width:25px; height:25px; margin-right:5px;"> 
            <img src="{% static 'img/ig.png' %}" style="width:25px;  height:25px; margin-right:5px;">
            <img src="{% static 'img/link.png' %}" style="width:25px;  height:25px; margin-right:5px;">
            <img src="{% static 'img/twit.gif' %}" style="width:25px;  height:25px; margin-right:5px;">	 
            </nav>
        </div><!--container-->
    </div><!--2ndcontent-->
    <div class="container">
    <p class="text-white"> @All Rights Reserved </p>
    </div><!---RightsReseredContainer--> 
    
    </div>