<div class="container" id="m1">
    <div class="row">
    <section class="col-sm-3 pr-0">
          <div class="container mt-2 pt-2 pl-1.5 pr-1.5 pb-1" id="c2">
              <p class="text-white text-center" style="font-size:2vw;"> <strong> Categories</strong> <p>
              <ul class="list-unstyled">
                  <li> 
                      <a href="#"><button id="m2" class="content btn bg-light rounded-0 mb-2">Fiction</button></a>					
                  </li>
                  
                  <li> 
                      <a href="#" ><button id="m2" class="btn bg-light rounded-0 mb-2">Biography</button></a>
                  </li>
                  
                  <li> 
                      <a href="#"><button id="m2" class="btn bg-light rounded-0 mb-2" >Children Books
                      </button></a>
                  </li>
                  
                  <li> 
                      <a href="#"><button id="m2" class="btn bg-light rounded-0 mb-2">Comic</button></a>
                  </li>
                 
                  <li> 
                      <a href="#"><button id="m2" class="content btn bg-light rounded-0
                       mb-2">Artificial Intelligence</button></a>
                  </li>
                  

                  <li> 
                      <a href="#"><button id="m2" class="btn bg-light rounded-0 mb-2">History</button></a>
                  </li>
              
                  
                  <li> 
                      <a href="#"><button id="m2" class="btn bg-light rounded-0 mb-2">Sci-Fiction</button>
                      </a>
                  </li>
                  
                  
                  <li> 
                      <a href="#"> <button id="m2" class="btn bg-light rounded-0">Thriller</button> </a>
                  </li>
          
              </ul>
          </div><!-- leftContainer -->
      </section>