{% block content %}
{% load static %}

<section class="col-sm-9 pr-0 pl-0 ">	
    <div class="content container ">
        <div class="carousel slide" id="caro" data-ride="carousel">
            <div class="carousel-inner">
                <ol class="carousel-indicators">
                    <li data-target="#caro" data-slide-to="0" class="active"> </li>
                    <li data-target="#caro" data-slide-to="1"> </li>
                    <li data-target="#caro" data-slide-to="2"> </li>
                </ol>
                <div class="carousel-item active">
                    <img src="static/images/size0.jpg" class="img-fluid pt-2" style="width:100%">
                </div>
                
                <div class="carousel-item">
                    <img src="static/images/size1.jpg" class="img-fluid pt-2" style="width:100%">
                </div>
                
                <div class="carousel-item">
                    <img src="static/images/size2.jpg" class="img-fluid pt-2" style="width:100%"> 
                </div>
            </div><!--carouselInner-->
        </div> <!--carousel-->
        
        

<!-----------------------------------------------------------------------------------------------------------------------------.-->	





<div class="container mt-3" id="recommend2">
<h2 class="text-center pt-3" style="font-family:Poppins-Bold;"> Recommended </h2>
<div class="row">
    <div class="owl-carousel owl-theme pt-0 pb-0 mt-0 mb-0">
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5 style="text-align:center;">Malala</h5>
            </div>
            </div>
        
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <a href="Others/bookDescription/bookDescription.html"><button class="btn btn-primary btn-sm">Buy Now </button></a>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card"  >
            <div class="img-wrapper">
            <img src="static/images/Children Books/ID-1.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Alice's adventures in wonderland</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <a href="Others/bookDescription/bookDescription.html"><button class="btn btn-primary btn-sm">Buy Now </button></a>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Children Books/ID-2.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Where the wild things are</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <a href="Others/bookDescription/bookDescription.html"><button class="btn btn-primary btn-sm">Buy Now </button></a>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Children Books/ID-8.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Charlotte's web</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <a href="Others/bookDescription/bookDescription.html"><button class="btn btn-primary btn-sm">Buy Now </button></a>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div><!--img WRAPPER -->
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <a href="Others/bookDescription/bookDescription.html"><button class="btn btn-primary btn-sm">Buy Now </button></a>
            </div>
        </div> <!--card--> 
    </div><!--item-->
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg"id="book"  alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
</div>
</div>
</div>	<!--container-->	

<!------------------------------------------------------------------------------------------------------------------------------->	

<!-----------------------------------------------------------------------------------------------------------------------------.-->	





<div class="container mt-3" id="recommend2">
<h2 class="text-center pt-3" style="font-family:Poppins-Bold;"> What's Trending? </h2>
<div class="row">
    <div class="owl-carousel owl-theme">
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Comic/4.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Comic/1.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/History/1.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/History/4.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
</div>
</div>
</div>	<!--container-->	

<!------------------------------------------------------------------------------------------------------------------------------->	


    <!-----------------------------------------------------------------------------------------------------------------------------.-->	





<div class="container mt-3" id="recommend2">
<h2 class="text-center pt-3" style="font-family:Poppins-Bold;"> Reader's Choice </h2>
<div class="row">
    <div class="owl-carousel owl-theme">
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/History/7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/History/5.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/History/4.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/History/6.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
        <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
        <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
</div>
</div>
</div>	<!--container-->	

<!------------------------------------------------------------------------------------------------------------------------------->	


    <!------------------------------------------------------------------------------------------------------------------------------->	





<div class="container mt-3" id="recommend2">
<h2 class="text-center pt-3" style="font-family:Poppins-Bold;">All Time Famous </h2>
<div class="row">
    <div class="owl-carousel owl-theme">
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Fiction/ID-9.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Fiction/ID-2.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Fiction/ID-4.jpg"id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
</div>
</div>
</div>	<!--container-->	

<!------------------------------------------------------------------------------------------------------------------------------->	

    <!-----------------------------------------------------------------------------------------------------------------------------.-->	





<div class="container mt-3" id="recommend2">
    <h2 class="text-center pt-3" style="font-family:Poppins-Bold;"> New Release </h2>
<div class="row">
    <div class="owl-carousel owl-theme">
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Fiction/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Sci-Fiction/4.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Sci-Fiction/3.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Sci-Fiction/7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book"  alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
            <img src="static/images/Biography/ID-7.jpg" id="book" alt="img" class="card-img-top img-fluid">
            <div class="text-wrapper">
                <h5>Malala</h5>
            </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="card">
            <div class="img-wrapper">
                <img src="static/images/Biography/ID-7.jpg"id="book" alt="img" class="card-img-top img-fluid">
                <div class="text-wrapper">
                    <h5>Malala</h5>
                </div>
            </div>
            <div class="card-body pt-2 pb-2 ">
                <h5> $ <span class="text-center"> 450</span> </h5> <!--price--> 
                <button class="btn btn-primary btn-sm">Buy Now </button>
            </div>
        </div>
    </div>
</div>
</div>
</div>	<!--container-->	

{% endblock %}
